$black: #000
$white: #fff
$block: 964px
$center: 0 auto

body
    margin: 0
    background: $black
    width: 100%
    color:$white


.navbar
    width:$block
    margin:$center
    height:110px
    position:relative

.logo
    width: 199px
    height: 54px
    margin: 24px 0 0 13px
    position:absolute

h1
    width: $block
    padding-top: 40px
    margin:$center
    text-align: left
    font-size: 24px
    font-weight: bold
    padding-left: 40px
    text-shadow: 1px 3px 0px #000000

ul 
    list-style: none

.landPay
    width:$block
    margin:$center

.mainBlock
    width:$block
    margin:$center
    height: 1392px
    margin-top:10px
    font-size:12px

